<h1>Listing rounds</h1>

<ul>
<% @fights.each do |fight| %>
	<li><%= fight.date %> (ID: <%= fight.id %>)</li>
	<ul>
		<% fighters = find_fights_fighters(fight.id) %>
		<% fighters.uniq.each do |fighter| %>
			<li><%= fighter.name %> (ID: <%= fighter.id %>)</li>
			<ul>
				<% rounds = find_rounds_for_fights_fighter(fight.id, fighter.id) %>
				<% rounds.each do |round| %>
					<li>Round #<%= round.roundname %> (ID: <%= round.id %>)</li>
				<% end %>
			</ul>
		<% end %>
	</ul>
<% end %>
</ul>
  
<table>
<% @rounds.each do |round| %>
  <tr>
	<td><%= round.id %></td>
	<td><%= round.roundname %></td>
	<td><%= link_to 'Show', round_path(round) %></td>
    <td><%= link_to 'Edit', edit_round_path(round) %></td>
    <td><%= link_to 'Destroy', round_path(round), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Create Rounds', new_round_path %>

