<h1>Fights</h1>

<ul>
	<% @fights.each do |fight| %>
		<li>
			<% fight.fighters.uniq.each do |fighter| %>
				<%= fighter.name %> vs.
			<% end %>
			on <%= fight.date %>
			<%= link_to 'Show', fight %>
		    <%= link_to 'Edit', edit_fight_path(fight) %>
		    <%= link_to 'Destroy', fight, method: :delete, data: { confirm: 'Are you sure?' } %>
			<%= link_to 'Create Rounds', create_rounds_fight_path(fight) %>
		</li>
	<% end %>
</ul>

<%= link_to 'New Fight', new_fight_path %>
