<p id="notice"><%= notice %></p>
fights#show
<br/>
<br/>
This fight is on <%= @fight.date %> User is <%= @user.email %> ID <%= @user.id %>

<% fighters = find_fights_fighters(@fight.id) %>

<ul>
	<% fighters.uniq.each do |fighter| %>
		<li><%= fighter.name %></li>
		<ul>
			<% rounds = find_rounds_for_fights_fighter(@fight.id, fighter.id) %>
			<% rounds.each do |round| %>
				<% @score = find_users_score_for_round(round.id, @user.id) %>
				<li>Round: <%= round.roundname %> | Score: <%= @score.score %></li>
				<%= render 'score_form' %>
			<% end %>
		</ul>
	<% end %>
</ul>


<%= link_to 'Edit', edit_fight_path(@fight) %> |
<%= link_to 'Back', fights_path %>