<p id="notice"><%= notice %></p>
fights#show
<br/>
<br/>
This fight is on <%= @fight.date %>

<ul>
<% @fight.fighters.each do |fighter| %>
	<li><%= fighter.name %></li>
	<ul>
		<% fighter.rounds.each do |round| %>
			<li>Round <%= round.roundname %> Score: <%= round.score %></li>
		<% end %>
	</ul>
<% end %>
</ul>

<%= link_to 'Edit', edit_fight_path(@fight) %> |
<%= link_to 'Back', fights_path %>
