<p id="notice"><%= notice %></p>
fights#show
<br/>
<br/>
This fight is on <%= @fight.date %> User is <%= @user.email %> ID <%= @user.id %>

<% fighters = find_fights_fighters(@fight.id) %>

<table border="1">
	<tr>
		<td>Rounds</td>
		<td>Round 1</td>
		<td>Round 2</td>
		<td>Round 3</td>
		<td>Round 4</td>
		<td>Round 5</td>
		<% if @fight.numrounds == 12 %>
		<td>Round 6</td>
		<td>Round 7</td>
		<td>Round 8</td>
		<td>Round 9</td>
		<td>Round 10</td>
		<td>Round 11</td>
		<td>Round 12</td>
		<% end %>
	</tr>
	<% fighters.uniq.each do |fighter| %>
	<tr>
		<td><%= fighter.name %></td>
			<% fighters_rounds = find_rounds_for_fights_fighter(@fight.id, fighter.id) %>
			<% fighters_rounds.each do |round| %>
				<% @score = find_users_score_for_round(round.id, @user.id) %>
				<td>
					<%= round.id %>
					<% if Score.exists?(@score) %>
						<%= render 'score_form' %>
					<% end %>
				</td>
			<% end %>
	</tr>
	<% end %>
</table>

<%= link_to 'Score this Fight', score_fight_path(@fight) %>

<%# find_all_rounds_for_fight(@fight.id) %>

<%#= link_to 'Score Fight', %>

<%= link_to 'Edit', edit_fight_path(@fight) %> |
<%= link_to 'Back', fights_path %>