<p id="notice"><%= notice %></p>
fights#show
<br/>
<br/>
This fight is on <%= @fight.date %>
<% @rounds.each do |round| %>
	<tr>
		<td><%= round.roundname %></td>
	</tr>
	
<% end %>

<%= link_to 'Edit', edit_fight_path(@fight) %> |
<%= link_to 'Back', fights_path %>
